@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: nitti-typewriter-normal;
  --font-highlight: nitti-typewriter-cameo;
  --font-open: nitti-typewriter-open;
  --font-corrected: nitti-typewriter-corrected;
  --font-underlined: nitti-typewriter-underlined;

  --color-primary: #709ab1;
  --color-secondary: #cb7985;
  --color-off-white: #f9f7f2;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  body, footer {
    @apply bg-[#F9F5EC] dark:bg-black text-black dark:text-white
  }

  h1 {
    @apply md:mb-4 md:text-lg
  }

  a {
    @apply font-underlined
  }

  a:hover {
    @apply text-red-400
  }

  a.card {
    @apply bg-off-white hover:bg-white shadow-xs hover:shadow-md transition-all duration-200 font-sans rounded-sm hover:font-sans hover:text-black hover:contrast-150
  }

  .embed-container {
    @apply relative md:h-full overflow-hidden lg:max-w-6xl max-w-sm aspect-video
  }

  .embed-container iframe, .embed-container object, .embed-container embed {
    @apply absolute top-0 left-0 w-full h-full
  }

  button {
    @apply border border-black bg-white p-4 hover:bg-slate-50
  }
}